<div>

    <div>
        <p>board</p>
        <button (click)="takeFromDiscard()">
            <app-card [card]="TopOfDiscard"></app-card>
        </button>
        
        <button (click)="takeFromDeck()">
            pick up
        </button>
        
        
    </div>

    <div *ngFor="let player of Players">
        {{player.name}}
        <div *ngFor="let card of player.cards">
            <app-card [card]="card"></app-card>
        </div>
    </div>

    <div>
        <button mat-raised-button color="primary" (click)="startGame()">Join Room</button>
    </div>
</div>