<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>Crown5Frontend</title>
  <base href="/static/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.ef46db3751d8e999.css"></head>
<body>
  <app-root></app-root>
<script src="runtime.6ba4d3b0e429bfd6.js" type="module"></script><script src="polyfills.f0f23e9d4aab5e88.js" type="module"></script><script src="main.b64cee073420b958.js" type="module"></script>

</body></html>